<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex">
        <div class="navbar-brand mx-3">
            <a routerLink="/" class="button-a d-flex flex-wrap back-home">
                <img class="d-block" [src]="brandURL" style="width: 50px;" alt="pikachu face">
            </a>
        </div>
        <ng-container *ngIf="loggedIn">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="catalogue" routerLinkActive="active">Catalogue</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="trainer" routerLinkActive="active">Trainer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="logout" routerLinkActive="active">Log Out</a>
                  </li>
                </ul>
            </div>
        </ng-container>
    </div>
</nav>
