$red: #ec1313;
$white: #e2e2e2;
$black: #131313;

.pokeball-button {
    box-sizing: border-box;
    background: rgba($red, 1);
    background: linear-gradient(to bottom, rgba($red, 1) 50%, rgba($white, 1) 50%);
    height: 60px;
    width: 120px;
    margin: calc((100vh/2) - (512px/2)) auto;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px $black;
    &:before, &::after {
        content: "";
        position: absolute;
    }
}